@*
    <div style="@Style" class="rz-shadow-1">

    <div class="d-flex justify-content-start" style="font-weight:bolder;margin-right: 98px;">
        <div id="title" class="p-2">
            @Title
        </div>

    </div>

    <div class="d-flex flex-column mb-3">
        <div class="p-2">

            <div class="d-flex flex-row-reverse mb-3" style="margin-left:232px;">
                <div class="p-2">
                    <img width="45" src="@IconSource" />
                </div>
        </div>

            <div class="d-flex justify-content-center">
                <div id="title" class="p-2">
                @ChildContent
            </div>

            </div>
            
        </div>
    </div>

    </div>
*@

<div style="@Style" class="rz-shadow-1">
    <div class="d-flex justify-content-start" style="font-weight:bolder;margin-right: 98px;">
        <div id="title" class="p-2">
            @Title
        </div>
    </div>

    <div class="d-flex flex-column mb-3">
        <div class="p-2">
            <div class="d-flex justify-content-end mb-3">
                <div class="p-2">
                    <img width="45" src="@IconSource" />
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div id="title" class="p-2">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? IconSource { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }



}
