@using SapirProductionFloorManagment.Client.Shared.Tables

<div class="d-flex flex-row mb-3">
    <div class="p-2">
        <DataIndicator Title="Lines Status" IconSource="/conveyor-belt.png">
            <div class="d-flex flex-column mb-3">
                <div id="online-offline" class="p-2">
                    <div class="p-2">
                        <div class="d-flex flex-row mb-3">
                            <div class="p-2"> <span style="color:green;font-size:large;">Online: 25</span></div>
                            <div class="p-2"><span style="color:red;font-size:large;">Offline: 7</span></div>
                        </div>
                    </div>
                </div>            
            </div>
            </DataIndicator>
        </div>
    <div class="p-2">
        <DataIndicator  Title="Avg production rate" IconSource="/productivity.png">
            <span style="font-size:large">25,637 per hour</span>
            </DataIndicator>
        </div>
    <div class="p-2">
        <DataIndicator  Title="Production Balance" IconSource="/operations.png">
            <span style="font-size:large">25,000 / 80,000</span>
            </DataIndicator>
        </div>
         <div class="p-2">
        <DataIndicator Title="Top Product" IconSource="/top.png">

            <div class="d-flex flex-column mb-3">
                <div class="p-2">Belgian Sherped</div>
            </div>
        </DataIndicator>
        </div>
    @*<div class="p-2"><DataIndicator /></div>*@
</div>

<div class="d-flex flex-row mb-3">

    <div class="pie-chart" style="width:30%;">
        <div class="p-2">
            <div class="rz-shadow-1" style="height:483px;">
                <span>
                    <PieChart>
                    </PieChart>
                </span>
            </div>
        </div>

    </div>
 
    <div class="lines-chart" style="width:78%">
        <div class="p-2">
            <div class="rz-shadow-1">
                <span>
                    <LineChart>
                    </LineChart>
                </span>
            </div>
        </div>
    </div>

 @*<DashboardTable></DashboardTable>*@
    
   
</div>





