<div class="d-flex flex-row mb-3">
    <div class="p-2"><DataIndicator IconSource="/conveyor-belt.png" /></div>
    <div class="p-2"><DataIndicator IconSource="/top.png"/></div>
    <div class="p-2"><DataIndicator IconSource="/productivity.png" /></div>
    <div class="p-2"><DataIndicator IconSource="/operations.png" /></div>
    <div class="p-2"><DataIndicator /></div>
</div>

<div class="d-flex flex-row mb-3">

    <div class="pie-chart" style="width:30%;">
        <div class="p-2">
            <div class="rz-shadow-1" style="height:483px;">
                <span>
                    <PieChart>
                    </PieChart>
                </span>
            </div>
        </div>

    </div>
 
    <div class="lines-chart" style="width:78%">
        <div class="p-2">
            <div class="rz-shadow-1">
                <span>
                    <LineChart>
                    </LineChart>
                </span>
            </div>
        </div>
    </div>
    
   
</div>





