@using  SapirProductionFloorManagment.Shared

<div class="container">
    <div class="card">
        <h1 class="card-title">Welcome</h1>
        <small class="card-subtitle">Please fill your details to enter the system</small>
            <form class="card-form">
            <label for="username">Worker ID</label>
            <div class="card-input-container username">
                <input @bind="User.WorkerId" type="text" placeholder="Enter your worker Id" id="id">
            </div>
            <label for="password">Password</label>
            <div class="card-input-container password">
                <input @bind="User.Password" type="password" placeholder="Enter your password" id="password">
            </div>
            <button style="background:#2c7ae5" class="card-button">Sign In</button>
              </form>
    </div>
</div>

@code 
{
    [Parameter]

    public User? User { get; set; }

}
