@using SapirProductionFloorManagment.Client.Shared
@using SapirProductionFloorManagment.Client.Pages
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navigatonManager
@inherits LayoutComponentBase

    <div class="page">
      <div class="sidebar">
          <NavMenu />      
       </div
    <main>
        <div class="top-row px-4">
            <AuthorizeView Roles="Admin">
                <Authorized >
                    <a @onclick="Logout" href="/">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code
{
    //relevant

    private async Task Logout()
    {
        var customAuthentocationStateProvider = (CustomAuthenticationStateProvider)authenticationProvider;
        await customAuthentocationStateProvider.UpdateAuthenticationState(null);
        navigatonManager.NavigateTo("/", true);
    }

 


}
