@using SapirProductionFloorManagment.Client.Shared
@using SapirProductionFloorManagment.Client.Pages
@inject CustomAuthenticationStateProvider AuthenticationProvider
@inherits LayoutComponentBase

@* <CascadingAuthenticationState> *@

    <div class="page">

@*     <AuthorizeView>
         <Authorized> *@
      <div class="sidebar">
          <NavMenu />      
      </div
@*     </Authorized> *@
@* 
    <NotAuthorized>
        <LoginPage/> *@
  @*   </NotAuthorized>
          
    </AuthorizeView> *@

    <main>
        <div class="top-row px-4">
            <a target="_blank">Sign Out</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code
{
 


}
