@using SapirProductionFloorManagment.Client.Shared
@using SapirProductionFloorManagment.Client.Pages
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navigatonManager
@inherits LayoutComponentBase

    <div class="page">
        <AuthorizeView Roles="Admin,Developer,Basic,Mannager">
            <Authorized>
            <BlazoredToasts />
      <div class="sidebar">
          <NavMenu />      
       </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
          </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <AuthorizeView Roles="Admin,Developer,Basic,Mannager">
                <Authorized>
                    <a @onclick="Logout" href="/">Logout</a>
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code
{
    

    private async Task Logout()
    {
        var customAuthentocationStateProvider = (CustomAuthenticationStateProvider)authenticationProvider;
        await customAuthentocationStateProvider.UpdateAuthenticationState(null);
        navigatonManager.NavigateTo("/", true);
    }

 


}
