@using SapirProductionFloorManagment.Client.Shared
@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu @ref="nav" />
    </div>

    <main>
        <div class="top-row px-4">
            <a  target="_blank">Sign Out</a>
        </div>
        @*<div>
            <a @onclick="ShowFullScreen"></a>
        </div>*@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private NavMenu nav = new();

    private void ShowFullScreen() => nav.HideNavMenu();

}
