@using  SapirProductionFloorManagment.Shared

<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        @foreach(var target in Switchers.Keys)
        {
            <button @onclick="()=> OnClick.InvokeAsync(SetTableName(target))" 
            class="btn btn-sm btn-outline-secondary" type="button" style="margin-left:5px;">@target</button>    
        }
    </form>
</nav>


@code 
{


    [Parameter]
    public EventCallback OnClick { get; set;}


    public string outPut = "";

    public string SetTableName(string target)
    {
        outPut = target;
        return target;
    }

    public string GetTableName()
    {
        return outPut;
    }


    [Parameter]
    public Dictionary<string, bool>? Switchers { get; set; }

    [Parameter]
    public List<string>? Names { get; set; }

 
}




