@page "/config"
@using SapirProductionFloorManagment.Client.Shared
@using SapirProductionFloorManagment.Client.Shared.Tables

<h3>Configuration</h3>

<TablesSwitcher @ref="tablesSwitcher" OnClick="()=>SwitchToTable()" Switchers="keyValuePairs"/>

<br/>


<LinesTable IsVisible="@keyValuePairs["Lines"]" Name="Lines">
</LinesTable>



<UsersTable IsVisible="@keyValuePairs["Users"]" Name="Users">
    </UsersTable>
    


    <ProductsTable IsVisible="@keyValuePairs["Products"]" Name="Products">
    </ProductsTable>
  
    


@code {


    private Dictionary<string, bool> keyValuePairs = new();
    private TablesSwitcher tablesSwitcher = new();


    protected override Task OnInitializedAsync()
    {
        keyValuePairs.Add("Products", false);
        keyValuePairs.Add("Users", false);
        keyValuePairs.Add("Lines", true);

        return base.OnInitializedAsync();
    }

    private void SwitchToTable()
    {
        var outPut =  tablesSwitcher.GetTableName();

        foreach (var visibility in keyValuePairs?.Keys)
        {
            keyValuePairs[visibility] = false;

        }
        MakeVisible(outPut);
        StateHasChanged();

    }



    private void MakeVisible(string target)
    {

        foreach (KeyValuePair<string, bool> kvp in keyValuePairs)
        {
            if (kvp.Key == target)
            {
                SetValueToTrue(target);

            }
        }
    }


    private void SetValueToFalse(string key) => keyValuePairs[key] = false;
    private void SetValueToTrue(string key) => keyValuePairs[key] = true;
   

   


    

}
