@page "/dailyprogram"

@inherits TableBase
@using SapirProductionFloorManagment.Client.Shared
@using SapirProductionFloorManagment.Client.Shared.Tables


<div class="d-flex flex-column mb-3">
    <div class="p-2">
        <h2>Work plan</h2>
    </div>
    <div class="p-2">
        <div class="d-flex justify-content-center">
            <RadzenButton Text="Calc Program" ButtonStyle="ButtonStyle.Light" />
        </div>
    </div>
    <div class="p-2">
        <WorkProgramsTable Lines="lines" />
    </div>
</div>


@code 
{
    private List<Line> lines = new()
    {
        {
            new Line
            {
                LineId = 1,
                WorkOrder = {Id =1111, 
                    ProductName = "כוס פלסטיק", 
                    Quantity= 3333, 
                    WorkDuration = 24, 
                    StartDate = DateTime.Now, 
                    EndDate = DateTime.Now.AddDays(1),
                    Comments = "Hell"
                },
            }
            
        },
           {
            new Line
            {
                LineId = 2,
                WorkOrder = {Id = 2222,
                    ProductName = "כוס זכוכית",
                    Quantity= 444,
                    WorkDuration = 23,
                    StartDate = DateTime.Now,
                    EndDate = DateTime.Now.AddDays(1),
                    Comments = "Hello"
                },
            }

        },
          {
            new Line
            {
                LineId = 0,
                WorkOrder = {Id =1111,
                    ProductName = "כוס נייר",
                    Quantity= 3333,
                    WorkDuration = 24,
                    StartDate = DateTime.Now,
                    EndDate = DateTime.Now.AddDays(1),
                    Comments = "Hello world"
                },
            }

        },

    };


}
