@page "/prodreport"
@using  SapirProductionFloorManagment.Shared

<h3>Production Report</h3>
@using System.Text.Json;

<RadzenTemplateForm TItem="WorkOrder" Data="order" Submit=@ReportWorkIsDone>
    <RadzenCard class="my-5 mx-auto" Style="max-width: 400px;">

        <RadzenColumn Size="12" SizeMD="4">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Work Order</RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="5">
            <RadzenTextBox Style="width: 70%;" Name="WO" />
        </RadzenColumn>

         <RadzenColumn Size="12" SizeMD="4">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Quantity</RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="5">
            <RadzenTextBox  Style="width: 70%;" Name="Quantity" />
        </RadzenColumn>
       
        <div class="row">
            <div class="col-md-12 d-flex align-items-end justify-content-left mt-4">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
            </div>
        </div>
    </RadzenCard>
</RadzenTemplateForm>





@code 
{
    protected WorkOrder order = new WorkOrder();

    protected async Task ReportWorkIsDone()
    {
        
    }
}