@page "/prodreport"
@inject IToastService toastService
@inject HttpClient Http
@using  SapirProductionFloorManagment.Shared
@using System.Text.Json;
@* @attribute [Authorize(Roles = "Admin")] *@


<h3>Production Report</h3>
<BlazoredToasts></BlazoredToasts>


<RadzenTemplateForm TItem="WorkOrder" Data="wo">
    <RadzenCard class="my-5 mx-auto" Style="max-width: 400px;">

        <RadzenDropDown @bind-Value="selectedWorkOrderSN"
                        Data="@workOrders"
                        TextProperty="WorkOrderSN"
                        ValueProperty="WorkOrderSN"
                        Style="width: 100%;"
                        Change="OnWorkOrderSelected">
        </RadzenDropDown>

         <RadzenColumn Size="12" SizeMD="4">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Quantity</RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="5">
            <RadzenNumeric TValue="int" @bind-value="@wo.ProducedQuantity" Style="width: 70%;" Name="Quantity" />
        </RadzenColumn>
       
        <div class="row">
            <div class="col-md-12 d-flex align-items-end justify-content-left mt-4">
                <RadzenButton Click="UpdateWorkOrderQuantity" ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
            </div>
        </div>
    </RadzenCard>
</RadzenTemplateForm>



@code 
{

    protected override async Task OnInitializedAsync()
    {
        workOrders = (await GetExistedWorkOrders()).ToList();
    }

    private WorkOrder wo = new WorkOrder();
    private List<WorkOrder> workOrders = new();
    private string? selectedWorkOrderSN;
    private WorkOrder selectedWorkOrder = new();


    //update work order quantity inside db
    private async Task UpdateWorkOrderQuantity()
    {
        try
        {
            using var workOrder = await Http.PostAsJsonAsync("productionreport/postworkorderquantity", wo);
            var response = await workOrder.Content.ReadAsStringAsync();
            toastService.ShowSuccess(response);

        }catch(Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    private async Task<List<WorkOrder>> GetExistedWorkOrders()
    {
        try
        {
            using var json = await Http.GetAsync("productionreport/getexistedworkorders");
            var data = await json.Content.ReadFromJsonAsync<List<WorkOrder>>();
            return data;
        }
        catch(Exception ex)
        {
            toastService.ShowError(ex.Message);            
        }
        return null;
        //add if data fetched succesfully
    }

    private async Task OnWorkOrderSelected(object args)
    {

        if (selectedWorkOrderSN != string.Empty)
        {
            var selectedSN = selectedWorkOrderSN;
            selectedWorkOrder = workOrders.FirstOrDefault(wo => wo.WorkOrderSN == selectedSN);

            //binding quantity by slected id from the dropdown
            wo.WorkOrderSN = selectedSN;

        }
    }

   

}