@page "/uploadinfo"
@using SapirProductionFloorManagment.Client.Shared.Tables
@using SapirProductionFloorManagment.Client.Shared

<h3>Upload Information</h3>

<TablesSwitcher @ref="tablesSwitcher" Switchers="keyValuePairs" OnClick="SwitchToTable">

</TablesSwitcher>

<div class="orders-table" style="width: 60%;">
    <WorkOrdersTable IsVisible="@keyValuePairs["Orders"]" IsCrudFrozen="true">
    </WorkOrdersTable>
</div>


<div class="lines-table" style="width:75%">
    <LinesTable IsVisible="@keyValuePairs["Lines"]" IsCrudFrozen=true>
    </LinesTable>
</div>




@code {

    private Dictionary<string, bool> keyValuePairs = new();
    private TablesSwitcher tablesSwitcher = new();
  
    protected override Task OnInitializedAsync()
    {
        keyValuePairs.Add("Orders", true);
        keyValuePairs.Add("Lines", false);

        return base.OnInitializedAsync();
    }



    private void SwitchToTable()
    {
        var outPut = tablesSwitcher.GetTableName();

        foreach (var visibility in keyValuePairs?.Keys)
        {
            keyValuePairs[visibility] = false;

        }
        MakeVisible(outPut);
        StateHasChanged();

    }



    private void MakeVisible(string target)
    {

        foreach (KeyValuePair<string, bool> kvp in keyValuePairs)
        {
            if (kvp.Key == target)
            {
                SetValueToTrue(target);

            }
        }
    }


    private void SetValueToFalse(string key) => keyValuePairs[key] = false;
    private void SetValueToTrue(string key) => keyValuePairs[key] = true;
}
  
